{% extends "base.html" %}

{% block content %}
    <div class="container text-center mt-5">
        <h1>Welcome to Kalle's</h1>
        <a href="{% url 'booking:reservation_list' %}">
            <button class="btn btn-primary mt-3">Book a table</button>
        </a>
    </div>


  <!-- Footer / contact section -->
    <!-- mt-auto added to push footer to the bottom of the page -->
 <footer id="footer" class="mt-auto">
    <div class="container section">
      <div class="row">
    
        <div class="col-md-6 mb-4">
          <h2 class="display-5">Contact us</h2>
          <ul id="contact">
            <li><i class="fa-solid fa-phone"></i><br><p><strong>123456789</strong></p></li>
            <li><i class="fa-regular fa-paper-plane"></i><br><p><strong>Kalles@gmail.com</strong></p></li>
            <li><i class="fa-solid fa-location-dot"></i><br><p><strong>Kalles street, 12345</strong></p></li>
          </ul>

          <!-- Öppettider -->
          <h3>Opening times</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Open</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Monday - Sunday</th>
                <td>17pm - 23pm</td>
              </tr>
            </tbody>
          </table>
        </div>

          
          <div class="col-md-6">
            <h3>Find us here</h3>
            <div class="map-container">
              
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2135.183073104761!2d13.003820415946935!3d55.60529398051492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653a178791b7a3b%3A0x7c7460b02b88ad41!2sMalm%C3%B6!5e0!3m2!1ssv!2sse!4v1622890910062!5m2!1ssv!2sse">
              </iframe>
              </div>
            </div>
        </div>
      </div>

        <ul id="socialmedia">
            <li><a href="http://www.instagram.com/" target="_blank" rel="noopener" 
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i> </a>
            </li>
            <li><a href="http://www.twitter.com/" target="_blank" rel="noopener" 
                aria-label="Visit our Twitter page (opens in a new tab)">
                <i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="http://www.facebook.com/" target="_blank" rel="noopener" 
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i></a>
            </li>
        </ul>
  
  </footer>
{% endblock %}