{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h1> My reservations</h1>
    <p> Hi {{ user.get_full_name|default:user.username }}, 
      <br>Here you can see, change, or cancel your reservations.</p>
    

   {% if messages %}
  {% for message in messages %}
    {% if "booking" in message.tags %}
      <div class="reservation-message">
        <div class="alert alert-{{ message.tags }}">
          {{ message|safe }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

  {% if reservations %}
  <!-- table on bigger screens -->
<div class="table-responsive d-none d-md-block">
  <table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th>Name</th><th>Email</th><th>Phone</th>
        <th>Date</th><th>Time</th><th>Guests</th><th>Reference</th><th></th>
      </tr>
    </thead>
    <tbody>
      {% for r in reservations %}
      <tr>
        <td>{{ r.name }}</td>
        <td>{{ r.email }}</td>
        <td>{{ r.phone }}</td>
        <td>{{ r.date }}</td>
        <td>{{ r.time|time:"H:i" }}</td>
        <td>{{ r.guests }}</td>
        <td><code>{{ r.booking_code }}</code></td>
      <td class="text-nowrap">
  <span class="me-2">
    <a href="{% url 'booking:update_reservation' r.booking_code %}" 
       class="text-primary text-decoration-none">
      Edit
    </a>
  </span>
  <span>
    <form action="{% url 'booking:cancel_reservation' %}" 
          method="post" style="display:inline;" id="cancel-my-booking">
      {% csrf_token %}
      <input type="hidden" name="booking_code" value="{{ r.booking_code }}">
      <button type="submit" 
              class="btn btn-link text-danger text-decoration-none align-baseline">
        Cancel
      </button>
    </form>
  </span>
</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- table on smaller screens -->
<div class="d-block d-md-none">
  {% for r in reservations %}
  <div class="card mb-3">
    <div class="card-body">
      <p><strong>Name:</strong> {{ r.name }}</p>
      <p><strong>Email:</strong> {{ r.email }}</p>
      <p><strong>Phone:</strong> {{ r.phone }}</p>
      <p><strong>Date:</strong> {{ r.date }}</p>
      <p><strong>Time:</strong> {{ r.time|time:"H:i" }}</p>
      <p><strong>Guests:</strong> {{ r.guests }}</p>
      <p><strong>Ref:</strong> <code>{{ r.booking_code }}</code></p>
   <form action="{% url 'booking:cancel_reservation' %}" method="post" class="m-0">
  {% csrf_token %}
  <a href="{% url 'booking:update_reservation' r.booking_code %}" 
     class="btn btn-sm btn-outline-primary w-100 mb-2">
    Edit
  </a>
  <input type="hidden" name="booking_code" value="{{ r.booking_code }}">
  <button type="submit" class="btn btn-sm btn-outline-danger w-100">
    Cancel
  </button>
</form>
    </div>
  </div>
  {% endfor %}
</div>

  {% else %}
    <p>You have no reservations yet.</p>
  {% endif %}
</div>
{% endblock %}