{% extends "base.html" %}
{% block content %}
{% load static %}


<h1>Available Times</h1>

<form method="get" action="{% url 'booking:reservation_list' %}">
    <label for="date">Select Date:</label>
    <input type="date" name="date" id="date" required>
    <button type="submit">Show Available Times</button>
</form>

{% if reservations %}
    <h2>Available Times for {{ .reservation.date }}:</h2>
    <form method="post" action="{% url 'booking:make_booking' %}">
        
        {% csrf_token %}
    <input type="date" name="date" value="{{ date }}">
    {% for time in reservations %}
        <input type="radio" name="time" value="{{ time }}" required>{{ time }}
    {% endfor %}
    <input type="text" name="name" id="name" required>
    <input type="number" name="guests" min="1" max="10" required>
    <button type="submit">Book Now</button>
    </form>
{% else %}
    <p>No available times for the selected date.</p>
{% endif %}

{% endblock %}