{% extends "base.html" %}
{% block content %}
{% load static %}


<h1>Available Times</h1>

<form method="get" action="{% url 'booking:reservation_list' %}">
    <label for="date">Select Date:</label>
    <input type="date" name="date" value="{{ date }}" min="{{ today }}" required>
    <button type="submit">Show Available Times</button>
</form>

{% if reservations %}
    <h2>Available Times for {{ selected_date }}:</h2>
    
    <form method="post" action="{% url 'booking:make_booking' %}">
        
        {% csrf_token %}
    <input type="hidden" name="date" value="{{ selected_date }}">
    {% for time in reservations %}
        <input type="radio" name="time" value="{{ time }}" required>{{ time }}
    {% endfor %}
    <input type="text" name="name" id="name" placeholder="Your Name" required>
    <input type="number" name="guests" min="1" max="10" placeholder="Number of Guests" required>
    <button type="submit">Book Now</button>
    </form>
{% endif %}

 {% if messages %}
  <div class="reservation-message">
    <h3>Confirmed reservation</h3>
    <p class="messages">
      {% for message in messages %}
        <span {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
      {% endfor %}
    </p>

    <!-- Cancel reservation form -->
    <form action="{% url 'booking:cancel_reservation' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="booking_code" placeholder="Enter your booking reference" required>
      <button type="submit">Cancel table</button>
    </form>
  </div>
{% endif %}


{% endblock %}