{% extends "base.html" %}
{% block content %}
{% load static %}




<form method="get" action="{% url 'booking:reservation_list' %}" id="reserve-form">
    <h1>Reserve a table</h1>

   {% if user.is_authenticated %}
      <label for="date">Select Date:</label>
      <input type="date" name="date" id="date" value="{{ date }}" min="{{ today }}" required>
      <button type="submit">Show Available Times</button>
  </form>
{% else %}
  <div class="alert alert-info mb-4">
    You need to <a href="{% url 'account_login' %}">log in</a> or 
    <a href="{% url 'account_signup' %}">create an account</a> to book a table.
  </div>
{% endif %}

{% if reservations %}
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'booking:make_booking' %}">
        <h2>Available Times for {{ selected_date }}:</h2>
        {% csrf_token %}
    <input type="hidden" name="date" value="{{ selected_date }}">
    {% for time in reservations %}
        <input type="radio" name="time" value="{{ time }}" required>{{ time }}
    {% endfor %}
    <input type="text" name="name" id="name" placeholder="Your Name" required>
    <input type="number" name="guests" min="1" max="10" placeholder="Number of Guests" required>
    <button type="submit">Book Now</button>
    </form>
  {% else %}
    <p>Please <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">create an account</a> to book.</p>
  {% endif %}
{% endif %}

{% if user.is_authenticated %}
 {% if messages %}
  <div class="reservation-message">
      <h3>Reservation Status</h3>
      {% for message in messages %}
        {% if "booking" in message.tags %}
          <div class="alert alert-{{ message.tags }}">
            {{ message|safe }}
          </div>
        {% endif %}
      {% endfor %}
  </div>
  {% endif %}
  {% endif %}


{% endblock %}