@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/*CSS Variables*/
:root{
    --primary-font: "Roboto Flex", sans-serif;
    --secondary-font: "Poetsen One", sans-serif;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    

}
h1, h2, h3{
    font-family: var(--secondary-font);
}

/*Navbar*/
.navbar-brand .nav-header {
  color: red;
  font-family: var(--secondary-font); 
  font-size: 2rem;
}
.navbar-nav{
    font-size: 1.3rem;
}

/*Menu*/
#menu h1{
    padding-top: 50px;
    text-align: center;
}
.menu-items {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.dish{
    font-family: var(--secondary-font);
}
.menu-items li {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fffbee;
}

.price {
  color: red;
  font-weight: bold;
}

.ingredients {
  font-style: italic;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: #555;
}
/*Form styling*/
#reserve-form{
    margin-top: 100px;
}
form {
    max-width: 600px;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="radio"],
form button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

form button:hover {
    background-color: #555;
}


.reservation-message {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #e6ffed;
    border: 1px solid #4CAF50;
    border-radius: 8px;
    color: #2b7a0b;
}

.reservation-message input[type="text"] {
    margin-top: 10px;
}


/*Footer*/
#contact {
  list-style: none;
  padding: 0;
}

#contact li {
  margin-bottom: 15px;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
}

#socialmedia{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:60px;
    justify-content: center;
    font-size: 2rem;
}

#socialmedia i{
    color: red;
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  .menu-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .menu-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
