@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/*CSS Variables*/
:root{
    --primary-font: "Roboto Flex", sans-serif;
    --secondary-font: "Poetsen One", sans-serif;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    

}
h1, h2, h3{
    font-family: var(--secondary-font);
}

/*Navbar*/
.navbar-brand .nav-header {
  color: red;
  font-family: var(--secondary-font); 
  font-size: 2rem;
}
.navbar-nav{
    font-size: 1.3rem;
}


/*Footer*/
#contact {
  list-style: none;
  padding: 0;
}

#contact li {
  margin-bottom: 15px;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
}

#socialmedia{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:60px;
    justify-content: center;
    font-size: 2rem;
}

#socialmedia i{
    color: red;
}