{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalles's</title>

    <!--Boostrap css link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"><span class="nav-header">Kalle's</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="{% url 'booking:reservation_list' %}">Booking</a>
        <a class="nav-link" href="#">Menu</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
    <!--Main-->
{% block content %}

{% endblock %}


    <!--Footer/contact section-->

    <!-- Footer / contact section -->
    <!-- mt-auto added to push footer to the bottom of the page -->
 <footer id="footer" class="mt-auto">
    <div class="container section">
      <div class="row">
    
        <div class="col-md-6 mb-4">
          <h2 class="display-5">Contact us</h2>
          <ul id="contact">
            <li><i class="fa-solid fa-phone"></i><br><p><strong>123456789</strong></p></li>
            <li><i class="fa-regular fa-paper-plane"></i><br><p><strong>Kalles@gmail.com</strong></p></li>
            <li><i class="fa-solid fa-location-dot"></i><br><p><strong>Kalles street, 12345</strong></p></li>
          </ul>

          <!-- Öppettider -->
          <h3>Opening times</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Open</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Monday - Sunday</th>
                <td>17pm - 23pm</td>
              </tr>
            </tbody>
          </table>
        </div>

          
          <div class="col-md-6">
            <h3>Find us here</h3>
            <div class="map-container">
              
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2135.183073104761!2d13.003820415946935!3d55.60529398051492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653a178791b7a3b%3A0x7c7460b02b88ad41!2sMalm%C3%B6!5e0!3m2!1ssv!2sse!4v1622890910062!5m2!1ssv!2sse">
              </iframe>
              </div>
            </div>
        </div>
      </div>

        <ul id="socialmedia">
            <li><a href="http://www.instagram.com/" target="_blank" rel="noopener" 
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i> </a>
            </li>
            <li><a href="http://www.twitter.com/" target="_blank" rel="noopener" 
                aria-label="Visit our Twitter page (opens in a new tab)">
                <i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="http://www.facebook.com/" target="_blank" rel="noopener" 
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i></a>
            </li>
        </ul>
  
  </footer>
</body>
<!--JS BOOTSTRAP LINK-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/e0a995d092.js" crossorigin="anonymous"></script>
</html>